<div class="navbar-container">
  <!-- MONITORES < 1114 PX -->
  @if (isMobileScreen()) {
    <div class="mobile">
      <div class="navbar">
        <div class="menu-icon">
          @if (openMenu()) {
            <button (click)="drawer.toggle(); funcaoTeste()" mat-icon-button>
              <mat-icon>menu</mat-icon>
            </button>
          } @else {
            <button (click)="drawer.toggle(); funcaoTeste()" mat-icon-button>
              <mat-icon>close</mat-icon>
            </button>
          }
        </div>
        
        <div class="logo">
          <img routerLink="/" src="../../assets/img/PetStores(200×200px)/1.svg" alt="Pet Stores Logo">
        </div>

        <div class="icons" style="margin-left: auto;">
          <button mat-icon-button>
            <mat-icon>shopping_cart</mat-icon>
          </button>
        </div>
      </div>

      <div class="pesquisar-mobile">
        <div class="search-container">
          <input matInput [placeholder]="animatedPlaceholder()">
          <mat-icon class="search-icon">search</mat-icon>
        </div>
      </div>

      <mat-drawer #drawer class="example-sidenav" mode="side">
        <p>Menu Lateral</p>
        @if (showFiller()) {
          <p>Opções em breve...</p>
        }
        <button (click)="showFiller.set(!showFiller())" mat-raised-button>
          Ver mais
        </button>
      </mat-drawer>
    </div>
  } @else {
    <!-- MONITORES > 1114 PX -->
    <div class="navbar">
      <div class="logo">
        <img routerLink="/" src="../../assets/img/Pet Stores (200 × 200 px).svg" alt="Pet Stores Logo">
      </div>

      <div class="nav-item" (click)="funcaoTeste()" style="margin-left: 20px;">
        <mat-icon>location_on</mat-icon>
        <span>Lojas</span>
      </div>

      <div class="search-container">
        <input matInput [placeholder]="animatedPlaceholder()">
        <mat-icon class="search-icon" (click)="funcaoTeste()">search</mat-icon>
      </div>

      <div class="nav-item" (click)="funcaoTeste()">
        <mat-icon>local_shipping</mat-icon>
        <span>Pedidos</span>
      </div>

      <div class="nav-item" (click)="funcaoTeste()">
        <mat-icon>favorite</mat-icon>
        <span>Favoritos</span>
      </div>

      <div class="nav-item" routerLink="/cart">
        <mat-icon>shopping_cart</mat-icon>
        <span>Carrinho</span>
      </div>

      <!-- ITEM DE PERFIL -->
      <div class="nav-item user-profile-dropdown">
        <mat-icon>account_circle</mat-icon>
        <span>Perfil</span>
        
        <div class="dropdown-content">
          <a href="#" (click)="funcaoTeste()">
            <mat-icon>login</mat-icon>
            Já sou cliente
          </a>
          <a href="#" (click)="funcaoTeste()">
            <mat-icon>person_add</mat-icon>
            Criar minha conta
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-2">
      <div class="links">
        <div class="dropdown-item">
          <span class="dropdown-trigger">Pets</span>
          <div class="dropdown-content">
            @for (opcoes of listaPets(); track opcoes) {
              <a href="#">{{ opcoes.value }}</a>
            }
          </div>
        </div>

        <div class="dropdown-item">
          <span class="dropdown-trigger">Lojas</span>
          <div class="dropdown-content">
            @for (opcoes of listaLojas(); track opcoes) {
              <a href="#">{{ opcoes.value }}</a>
            }
          </div>
        </div>

        <div class="dropdown-item">
          <span class="dropdown-trigger">Agendamentos</span>
          <div class="dropdown-content">
            @for (opcoes of listaAgendamentos(); track opcoes) {
              <a href="#">{{ opcoes.value }}</a>
            }
          </div>
        </div>

        <div class="dropdown-item">
          <span class="dropdown-trigger">Marcas</span>
          <div class="dropdown-content">
            @for (opcoes of listaMarcas(); track opcoes) {
              <a href="#">{{ opcoes.value }}</a>
            }
          </div>
        </div>

        <div class="dropdown-item">
          <span class="dropdown-trigger">Serviços</span>
          <div class="dropdown-content">
            @for (opcoes of listaServicos(); track opcoes) {
              <a href="#">{{ opcoes.value }}</a>
            }
          </div>
        </div>

        <div class="dropdown-item">
          <span class="dropdown-trigger">Mais</span>
          <div class="dropdown-content">
            @for (opcoes of listaMais(); track opcoes) {
              <a href="#">{{ opcoes.value }}</a>
            }
          </div>
        </div>

        <div class="dropdown-item help-section">
          <mat-icon class="support-icon">support_agent</mat-icon>
          <span class="dropdown-trigger">Ajuda</span>
          <div class="dropdown-content">
            @for (opcoes of listaAjuda(); track opcoes) {
              <a href="#">{{ opcoes.value }}</a>
            }
          </div>
        </div>
      </div>
    </div>
  }
</div>
