<!-- MONITORES < 1114 PX -->
<mat-toolbar class="navbar" *ngIf="isMobileScreen; else notMobile">
  <div class="menu-icon">
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <div class="logo">
    <img src="../../assets/img/PetStores(200×200px)/1.svg" alt="">
  </div>

  <div class="icons">
    <div class="favoritos">
      <button mat-icon-button>
        <mat-icon>favorite</mat-icon>
      </button>
    </div>

    <div class="cart-icon">
      <button mat-icon-button>
        <mat-icon>shopping_cart</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>


<!-- MONITORES > 1114 PX -->
<ng-template #notMobile>

  <mat-toolbar class="navbar">
    <div class="logo">
      <!-- <img (click)="abrirPreenchimentoDeCep()" src="../../assets/img/PetStores(200×200px)/1.svg"> -->
      <img (click)="abrirPreenchimentoDeCep()" src="../../assets/img/Pet Stores (200 × 200 px).svg">
    </div>

    <span class="icone-localizacao">
      <mat-icon>location_on</mat-icon>
    </span>
    <div class="localizacao">
      <a href="#" (click)="abrirPreenchimentoDeCep()"> <strong>Lojas próximas</strong> </a>
    </div>

    <div class="pesquisar">
      <input matInput placeholder="  Pesquisar">
    </div>
    <button (click)="abrirPreenchimentoDeCep()" class="search"><mat-icon>search</mat-icon></button>

    <span class="icone-pedidos">
      <mat-icon>local_shipping</mat-icon>
    </span>
    <div class="pedidos">
      <a href="#" (click)="abrirPreenchimentoDeCep()"><strong>Meus pedidos</strong></a>
    </div>

    <span class="icone-favoritos">
      <mat-icon>favorite</mat-icon>
    </span>
    <div class="favoritos">
      <a href="#" (click)="abrirPreenchimentoDeCep()"> <strong>Favoritos</strong> </a>
    </div>

    <span class="icone-carrinho">
      <mat-icon>shopping_cart</mat-icon>
    </span>
    <div class="carrinho">
      <a href="#" (click)="abrirPreenchimentoDeCep()"> <strong>Lojas Próximas!</strong> </a>
    </div>

    <span class="icone-usuario">
      <mat-icon>account_circle</mat-icon>
    </span>
    <div class="usuario">
      <a href="#" (click)="abrirPreenchimentoDeCep()"> <strong>Entrar</strong> </a> | <a href="#"
        (click)="abrirPreenchimentoDeCep()"> <strong>Cadastrar-se</strong> </a>
    </div>

  </mat-toolbar>
</ng-template>
